* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    overflow: hidden;
    background: rgb(236, 235, 235);
}

.container  .div {
    background: rgb(174, 144, 144);
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
}
.container  .one {
    margin-left: 20px;
}
.container  .two {
    margin-left: 80px;
}
.container  .three {
    margin-left: 140px;
}

.container  .one:hover {
    cursor: pointer;
    background: #4b3434;
    transform: translateX(40px);
}
.container  .two:hover {
    cursor: pointer;
    background: #4b3434;
    transform: translateX(-20px);
}
.container  .three:hover {
    cursor: pointer;
    background: #4b3434;
    transform: translateX(30px);
}
.one {
    transition: transform .4s;
}
.two {
   transition: transform .2s;
}
.three {
    transition: transform .5s;
}

.btn1 {
    padding: 20px 40px;
    margin: 20px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
}
.btn1:hover {
    cursor: pointer;
    background: red;
    color: white;
    transform: translateX(20px);
    transition: transform .4s ease-out .1s;
}